<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserData</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/datastyle.css' %}">
</head>
<body>
<h1>I have user data</h1>


<table style="width:100%">
    <tr>
        <th>Email id</th>
        <th>Firstname</th>
        <th>Lastname</th>

    </tr>

    {%for i in md%}
    <tr>
        <td>{{i}}</td>
        <td>{{i.first_name}}</td>
        <td> {{i.last_name }}</td>
    </tr>

    {% endfor %}
</table>
</body>
</html>